* {
  margin: 0;
  scroll-behavior: smooth;
}

.center-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.max-width-1440px {
  width: 100%;
  max-width: 1440px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.d-flex {
  display: flex;
}

.d-none {
  display: none;
}

.pd-tb-16px {
  padding-top: 16px;
  padding-bottom: 16px;
}

.pd-tb-8px {
  padding-top: 16px;
  padding-bottom: 16px;
}

.margin-tb-16px {
  margin-top: 16px;
  margin-bottom: 16px;
}
